<h4>
  {{#if name}}
    {{name}}
  {{else}}
    <em>server name</em>
  {{/if}}
</h4>

{{#if saveFailed}}
<div class="save-failed">
  could not save server
</div>
{{/if}}

<ul>

<li>
  <label for="server-name">Name:</label>
  {{input
      type="text"
      id="server-name"
      placeholder="server name"
      value=name}}
</li>

<li>
  <label for="host">Host:</label>
  {{input
      type="text"
      id="host"
      placeholder="irc.someserver.net"
      value=host}}
</li>

<li>
  <label for="name">Port:</label>
  {{input
      type="text"
      id="port"
      placeholder="6667"
      value=port}}
</li>


</ul>

<button {{action "save" model}}>Save</button>