<div class="create-edit server">

<ul class="fields">

  <li>
    {{form-input
        type="text"
        id="server-name"
        placeholder="Server Name"
        value=name}}
  </li>

  <li>
    {{form-input
        type="text"
        id="host"
        placeholder="irc.someserver.net"
        value=host}}
  </li>

  <li>
    {{form-input
        type="text"
        id="port"
        placeholder="6667"
        required=false
        value=port}}
  </li>

  <li>
    {{form-input
        type="nick"
        id="nick"
        placeholder="Nick"
        value=nick}}
  </li>

</ul>

<button id="save-button" {{action "save" controller.model controller.model.server.connectionUser}}>Save</button>

{{#if saveFailed}}
<div class="save-failed">
  could not save server
</div>
{{/if}}

</div>